<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="brand">
                    <a href="./">
                        <h1 class="brand_name">Bystřická Truhlárna</h1>
                        <figure class="brand_logo">
                            <img src="../static/img/logo.png" alt="logo">
                        </figure>
                    </a>
                </div>
                <div class="privacy_policy">
                    <div class="copyright">© <span id="copyright-year"></span> {{ _('zahlavi.prava') }}</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="col-lg-12">
                    <nav class="nav">
                        <ul class="footer_menu">
                            <li {% if active_page == 'home' %} class="active" {% endif %}><a href="/">{{ _('zahlavi.menu.domu') }}</a>
                            </li>
                            <li {% if active_page == 'about' %} class="active" {% endif %}><a
                                    href="/about">{{ _('zahlavi.menu.onas') }}</a>
                            </li>
                            <li {% if active_page == 'gallery' %} class="active" {% endif %}><a
                                    href="/gallery">{{ _('zahlavi.menu.galerie') }}</a>
                            </li>
                            <li {% if active_page == 'services' %} class="active" {% endif %}><a
                                    href="/services">{{ _('zahlavi.menu.sluzby') }}</a>
                            </li>
                            <li {% if active_page == 'contact' %} class="active" {% endif %}><a
                                    href="/contact">{{ _('zahlavi.menu.kontakt') }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-12 flags">
                    <a href="/language/cs"><img src="../static/img/cz.svg" alt="Czech Flag"></a>
                    <a href="/language/en"><img src="../static/img/gb.svg" alt="Great Britain Flag"></a>
                    <a href="/language/de"><img src="../static/img/de.svg" alt="German Flag"></a>
                </div>
            </div>
        </div>
    </div>
</footer>