<div id="stuck_container" class="stuck_container">
    <div class="header-bottom">
        <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix">
            <ul class="sf-menu">
                <li {% if active_page == 'home' %} class="active" {% endif %}>
                    <a href="/">{{ _('menu.domu') }}</a>
                </li>
                <li {% if active_page == 'about' %} class="active" {% endif %}>
                    <a href="/about">{{ _('menu.onas') }}</a>
                </li>
                <li {% if active_page == 'gallery' %} class="active" {% endif %}>
                    <a href="/gallery">{{ _('menu.galerie') }}</a>
                </li>
                <li {% if active_page == 'services' %} class="active" {% endif %}>
                    <a href="/services">{{ _('menu.sluzby') }}</a>
                </li>
                <li {% if active_page == 'contact' %} class="active" {% endif %}>
                    <a href="/contact">{{ _('menu.kontakt') }}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>