<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ _('onas.titulek') }}</title>

    {% include "website/includes/head.html" %}

    <script src="../../static/js/wow/wow.js"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
</head>

<body>
{% set active_page = "about" %}
<header id="header" class="middle_header">
    <div class="header-top parallax parallax-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand">
                        <a href="/">
                            <h1 class="brand_name">Bystřická truhlárna</h1>
                            <figure class="brand_logo">
                                <img src="../../static/img/logo.png" alt="logo">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "website/includes/menu.html" %}
</header>
<div id="content">
    <div class="block-4 img-bg-1 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeInRightBig">
                    <h3 class="title title-1">{{ _('onas.titulek') }}</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  wow fadeInLeftBig" data-wow-delay="0.5s">
                    <div class="thumb-pad-3">
                        <div class="thumbnail">
                            <img src="../../static/img/page2-img1.jpg" alt="photo">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  wow fadeInLeftBig" data-wow-delay="0.4s">
                    <ul class="list list-1">
                        <li>
                            <p>{{ _('onas.hlavni_text') }}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  wow fadeInLeftBig" data-wow-delay="0.3s">
                    <h4 class="title title-1">{{ _('onas.zajistujeme') }} </h4>
                    <div class="box box-5">
                        <ul class="list list-2">
                            <li>{{ _('onas.zajistujeme_list_1') }}</li>
                            <li>{{ _('onas.zajistujeme_list_2') }}</li>
                            <li>{{ _('onas.zajistujeme_list_3') }}</li>
                            <li>{{ _('onas.zajistujeme_list_4') }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="block-5 parallax parallax-bg-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeInRightBig">
                    <h3 class="title title-1">{{ _('onas.reference') }}</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInRightBig" data-wow-delay="0.3s">
                    <ul class="list list-3">
                        <li>
                            <div class="wrapper">
                                <h6>{{ _('onas.reference.blok_1') }}</h6>
                                <p>{{ _('onas.reference.blok_1.text') }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper">
                                <h6>{{ _('onas.reference.blok_2') }}</h6>
                                <p>{{ _('onas.reference.blok_2.text') }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper">
                                <h6>{{ _('onas.reference.blok_3') }}</h6>
                                <p>{{ _('onas.reference.blok_3.text') }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInRightBig" data-wow-delay="0.4s">
                    <h4 class="title title-1">{{ _('onas.klienti') }}</h4>
                    <div class="box box-5">
                        <ul class="list list-2">
                            <li>Spona s.r.o.</li>
                            <li>Sportisimo s.r.o.</li>
                            <li>Unibon</li>
                            <li>Ozeta</li>
                            <li>PINET</li>
                            <li>REA s.r.o.</li>
                            <li>Petr Šach stavební s.r.o.</li>
                            <li>ZŠ a MŠ Bystřice</li>
                            <li>BB s.r.o.</li>
                            <li>STS Olbaramovice</li>
                            <li>JASA s.r.o.</li>
                            <li>KVARTO spol s.r.o.</li>
                            <li>ISŠT Benešov</li>
                            <li>Městký úřad Bystřice</li>
                            <li>Městský úřad Benešov</li>
                            <li>Institut pro místní správu Praha</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInRightBig" data-wow-delay="0.5s">
                    <div class="box box-6">
                        <blockquote>{{ _('onas.reference.klient_reference.text') }}</blockquote>
                        <h5>{{ _('onas.reference.klient_reference.jmeno') }}</h5>
                    </div>
                    <div class="box box-6">
                        <blockquote>{{ _('onas.reference.klient_reference.text_2') }}
                        </blockquote>
                        <h5>{{ _('onas.reference.klient_reference.jmeno_2') }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
{% include "website/includes/footer.html" %}
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/tm-scripts.js"></script>
</body>

</html>