<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ _('kontakt.titulek') }}</title>

    {% include "website/includes/head.html" %}

    <link rel="stylesheet" href="../../static/css/forms.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false'></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <div id="ie6-alert" style="width: 100%; text-align:center;">
    <img src="http://beatie6.frontcube.com/images/ie6.jpg" alt="Upgrade IE 6" width="640" height="344" border="0" usemap="#Map" longdesc="http://die6.frontcube.com" />
      <map name="Map" id="Map"><area shape="rect" coords="496,201,604,329" href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" alt="Download Interent Explorer" /><area shape="rect" coords="380,201,488,329" href="http://www.apple.com/safari/download/" target="_blank" alt="Download Apple Safari" /><area shape="rect" coords="268,202,376,330" href="http://www.opera.com/download/" target="_blank" alt="Download Opera" /><area shape="rect" coords="155,202,263,330" href="http://www.mozilla.com/" target="_blank" alt="Download Firefox" />
        <area shape="rect" coords="35,201,143,329" href="http://www.google.com/chrome" target="_blank" alt="Download Google Chrome" />
      </map>
      </div>
      <![endif]-->

</head>
<body>
{% set active_page = "contact" %}
<header id="header" class="middle_header">
    <div class="header-top parallax parallax-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand">
                        <a href="/">
                            <h1 class="brand_name">Bystřická truhlárna</h1>
                            <figure class="brand_logo">
                                <img src="../../static/img/logo.png" alt="logo">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "website/includes/menu.html" %}
</header>
<div id="content">
    {% include 'website/includes/flash.html' %}
    <div class="block-4 img-bg-1 bg-1">
        <div class="container">
            <div class="row">
                <h3 class="title title-1">{{ _('kontakt.formular.titulek') }}</h3>
                <form action="/contact" method="POST" role="form" id="contact-form" data-toggle="validator">
                    <div class="col-lg-4 col-sm-12 form-group">
                        <input type="text" name="name" id="name" class="form-control" placeholder="{{ _('kontakt.formular.jmeno') }}"
                               data-error="{{ _('kontakt.formular.nutne') }}" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="col-lg-4 col-sm-12 form-group">
                        <input type="email" name="email" id="email" class="form-control" placeholder="{{ _('kontakt.formular.email') }}"
                               data-error="{{ _('kontakt.formular.spatny_email') }}" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="col-lg-4 col-sm-12 form-group">
                        <input type="tel" name="phone" id="phone" class="form-control" placeholder="{{ _('kontakt.formular.telefon') }}">
                    </div>
                    <div class="col-lg-12 form-group">
                        <textarea name="message" id="message" class="col-lg-12 form-control"
                                  placeholder="{{ _('kontakt.formular.zprava') }}" data-error="{{ _('kontakt.formular.nutne') }}"
                                  required></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <input type="hidden" name="form-data" id="formData"/>
                    <div class="col-lg-12 form-group">
                        <input type="submit" id="formSubmit" style="margin-top: 16px;" value="{{ _('kontakt.formular.odeslat') }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div class="google-map-api">
    <div id="map-canvas" class="gmap"></div>
</div>
<div class="block-6 bg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="title title-1">{{ _('kontakt.titulek') }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <dl class="list list-5">
                    <dt>Bystřická Truhlárna, s.r.o.</dt>
                    <dd>E. Beneše 198</dd>
                    <dd>Bystřice u Benešova 257 51</dd>
                    <br>
                    <dd> {{ _('kontakty.ico') }} 26718618</dd>
                    <dd> {{ _('kontakty.dic') }} CZ26718618</dd>
                </dl>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <dl class="list list-5">
                    <dt>{{ _('kontakty.jednatel') }} <br> Josef Pilát</dt>
                    <dd><span>{{ _('kontakty.jednatel.mobil') }}</span>+420 776 141 496</dd>
                    <dd>E-mail: <a href="mailto:pilat@bystrickatruhlarna.cz">pilat@bystrickatruhlarna.cz</a></dd>
                </dl>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <dl class="list list-5">
                    <dt>{{ _('kontakty.prodejna') }}</dt>
                    <dd><span>{{ _('kontakty.prodejna.mobi') }}</span>+420 317 793 495</dd>
                    <dd><span>{{ _('kontakty.prodejna.telefon') }} </span>+420 731 612 784</dd>
                    <dd>E-mail: <a href="mailto:prodejna@bystrickatruhlarna.cz">prodejna@bystrickatruhlarna.cz</a></dd>
                    <br>
                    <dt>{{ _('kontakty.provozni_doba') }}</dt>
                    <br>
                    <dd><strong>{{ _('kontakty.prodejna') }} </strong>{{ _('kontakty.po_pa') }} 7:30-16:00</dd>
                    <dd><strong>{{ _('kontakty.vyroba') }} </strong>{{ _('kontakty.po_pa') }} 7:00-16:00</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
</div>
{% include "website/includes/footer.html" %}
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/tm-scripts.js"></script>
<script src="../../static/js/contactform.js"></script>
<script>
    google_api_map_init();

    function google_api_map_init() {
        var map;
        var coordData = new google.maps.LatLng(parseFloat(49.739641), parseFloat(14.664487));
        var markCoord1 = new google.maps.LatLng(parseFloat(49.739641), parseFloat(14.664487));
        var marker;

        var markerIcon = {
            url: "../static/img/gmap_marker.png",
            size: new google.maps.Size(46, 70),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(21, 70)
        };

        function initialize() {
            var mapOptions = {
                zoom: 17,
                center: coordData,
                scrollwheel: false,
            }

            var contentString = "<div></div>";
            var infowindow = new google.maps.InfoWindow({
                content: contentString,
                maxWidth: 200
            });
            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                position: coordData,
                icon: markerIcon
            });
            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            marker = new google.maps.Marker({
                map: map,
                position: markCoord1,
                icon: markerIcon
            });

            var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<div id="bodyContent">' +
                '<p><b>BYSTŘICKÁ TRUHLÁRNA, s.r.o.</b><br>E.Beneše 198<br>Bystřice u Benešova 257 51<br>Tel: +420 317 793 495<br>Fax: +420 317 793 495</p><a target="_blank" href="https://goo.gl/maps/WD8BdqMtnun">Zobrazit na mapách google</a>' +
                '</div>' +
                '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
                $('.gm-style-iw').parent().parent().addClass("gm-wrapper");
            });

            google.maps.event.addDomListener(window, 'resize', function () {

                map.setCenter(coordData);

                var center = map.getCenter();
            });
        }

        google.maps.event.addDomListener(window, "load", initialize);

    }
</script>
</body>

</html>