<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ _('galerie.titulek') }}</title>
    {% include "website/includes/head.html" %}
    <link rel="stylesheet" href="../../static/css/jquery.fancybox.css">
    <script src="../../static/js/jquery.fancybox.js"></script>
    <script src="../../static/js/jquery.fancybox-buttons.js"></script>
    <script src="../../static/js/jquery.fancybox-media.js"></script>
    <script>
        jQuery(document).ready(function () {
            $("a[data-fancybox-group=group1]").fancybox({});
        });
    </script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="../../static/js/wow/wow.js"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
</head>

<body>
{% set active_page = "gallery" %}
<header id="header" class="middle_header">
    <div class="header-top parallax parallax-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand">
                        <a href="/">
                            <h1 class="brand_name">Bystřická Truhlárna</h1>
                            <figure class="brand_logo">
                                <img src="../../static/img/logo.png" alt="logo">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "website/includes/menu.html" %}
</header>
<div id="content">
    <div class="block-4 img-bg-1 indent bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title title-1 wow fadeIn" data-wow-delay="0.3s">{{ _('galerie.titulek') }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="thumb-pad-5">
                        <div class="thumbnail">
                            <a href="../../static/img/page3-img1_original.jpg" data-fancybox-group="group1">
                                <img src="../../static/img/page3-img1.jpg" alt="photo">
                            </a>
                            <!-- <div class="caption">
                                <h6>Purus eu ligula rhoncus ullamcorper</h6>
                                <p>Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="thumb-pad-5">
                        <div class="thumbnail">
                            <a href="../../static/img/page3-img2_original.jpg" data-fancybox-group="group1">
                                <img src="../../static/img/page3-img2.jpg" alt="photo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="thumb-pad-5">
                        <div class="thumbnail">
                            <a href="../../static/img/page3-img3_original.jpg" data-fancybox-group="group1">
                                <img src="../../static/img/page3-img3.jpg" alt="photo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="thumb-pad-5">
                        <div class="thumbnail">
                            <a href="../../static/img/page3-img4_original.jpg" data-fancybox-group="group1">
                                <img src="../../static/img/page3-img4.jpg" alt="photo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="thumb-pad-5">
                        <div class="thumbnail">
                            <a href="../../static/img/page3-img5_original.jpg" data-fancybox-group="group1">
                                <img src="../../static/img/page3-img5.jpg" alt="photo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="thumb-pad-5">
                        <div class="thumbnail">
                            <a href="../../static/img/page3-img6_original.jpg" data-fancybox-group="group1">
                                <img src="../../static/img/page3-img6.jpg" alt="photo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="thumb-pad-5">
                        <div class="thumbnail">
                            <a href="../../static/img/page3-img7_original.jpg" data-fancybox-group="group1">
                                <img src="../../static/img/page3-img7.jpg" alt="photo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="thumb-pad-5">
                        <div class="thumbnail">
                            <a href="../../static/img/page3-img8_original.jpg" data-fancybox-group="group1">
                                <img src="../../static/img/page3-img8.jpg" alt="photo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="thumb-pad-5">
                        <div class="thumbnail">
                            <a href="../../static/img/page3-img9_original.jpg" data-fancybox-group="group1">
                                <img src="../../static/img/page3-img9.jpg" alt="photo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "website/includes/footer.html" %}
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/tm-scripts.js"></script>
</body>
</html>