<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bystřická truhlárna</title>
    {% include "website/includes/head.html" %}
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="../../static/js/wow/wow.js"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
</head>
<body>
{% set active_page = "home" %}
{% if offer_enabled %}
    <div class="overlay">
        <div class="offer">
            <a class="offer-hyper" href="/offers">
                <div class="offer-title">
                    <h4>{{ recent_offer.name }}</h4>
                </div>
            </a>
            <a href="#" class="offer-close-btn">&times;</a>
        </div>
    </div>
{% endif %}
<header id="header" class="large_header">
    <div class="header-top parallax parallax-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand">
                        <a href="./">
                            <h1 class="brand_name">Bystřická truhlárna</h1>
                            <figure class="brand_logo">
                                <img src="../../static/img/logo.png" alt="logo">
                            </figure>
                        </a>
                    </div>
                    <div class="box box-1">
                        <h3>BYSTŘICKÁ TRUHLÁRNA, s.r.o.</h3>
                        <h5>{{ _('hlavni_stranka.hlavicka.podnadpis') }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "website/includes/menu.html" %}
</header>
<div id="content">
    <div class="block-1 img-bg-1 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="thumb-pad-1 wow fadeIn" data-wow-delay="0.3s">
                        <p class="thumbnail">
                            <img src="../../static/img/page1-img5.jpg" alt="photo">
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="thumb-pad-1 wow fadeIn" data-wow-delay="0.4s">
                        <p class="thumbnail">
                            <img src="../../static/img/page1-img4.jpg" alt="photo">
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="thumb-pad-1 wow fadeIn" data-wow-delay="0.5s">
                        <p class="thumbnail">
                            <img src="../../static/img/page1-img3.jpg" alt="photo">
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="thumb-pad-1 wow fadeIn" data-wow-delay="0.6s">
                        <p class="thumbnail big">
                            <img src="../../static/img/page1-img2.jpg" alt="photo">
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="thumb-pad-1 wow fadeIn" data-wow-delay="0.7s">
                        <p class="thumbnail">
                            <img src="../../static/img/page1-img1.jpg" alt="photo">
                        <div class="caption">
                            <h3></h3>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-2 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="box box-2wow fadeInLeftBig" data-wow-delay="0.3s">
                        <a href="#"><img src="../static/img/img-bg-2.png" alt="Inteda Logo"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="box box-2  wow fadeInRightBig" data-wow-delay="0.3s">
                        <h4>
                            {{ _('hlavni_stranka.specializace') }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if reviews %}
        <div class="block-3 parallax parallax-bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="box box-3 img-bg-1 bg-1 wow fadeInUp" data-wow-delay="0.7s">
                            <div class="owl-carousel">
                                {% for review in reviews %}
                                    <div>
                                        <blockquote>
                                            {{ review.text }}
                                        </blockquote>
                                        <h5>- {% if review.person_name %}{{ review.person_name }}{% endif %}
                                            {% if review.person_name and review.firm_name %}, {% endif %}
                                            {% if review.firm_name %}{{ review.firm_name }}{% endif %}</h5>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="block-4 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="box box-4">
                        <h6>{{ _('hlavni_stranka.odkaz_na_objednavky.nadpis') }}</h6>
                        <p>{{ _('hlavni_stranka.odkaz_na_objednavky.popis') }}</p>
                        <div class="home-order">
                            <a href="/order-rules" class="btn btn-1">{{ _('hlavni_stranka.tlacitko.provozni_rad') }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  wow fadeInRight" data-wow-delay="0.3s">
                    <div class="thumb-pad-2">
                        <div class="thumbnail">
                            <img src="../static/img/page1-img11.jpg" alt="photo">
                            <div class="caption">
                                <h6>{{ _('hlavni_stranka.odkaz_na_sluzby.nadpis') }}</h6>
                                <p>{{ _('hlavni_stranka.odkaz_na_sluzby.popis') }}</p>
                                <a href="/services" class="btn-default btn btn-1">{{ _('hlavni_stranka.tlacitko.sluzby') }}</a>
                                <a href="/order" class="btn btn-1">{{ _('hlavni_stranka.tlacitko.objednavkovky_formular') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "website/includes/footer.html" %}
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/tm-scripts.js"></script>
</body>
</html>