<!DOCTYPE html>
<html lang="cs">

<head>
    <title>{{ _('nabidky.titulek') }}</title>

    {% include "website/includes/head.html" %}
    <link rel="stylesheet" href="../../static/css/forms.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="../../static/js/wow/wow.js"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
</head>
<body>
<header id="header" class="middle_header">
    <div class="header-top parallax parallax-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand">
                        <a href="/">
                            <h1 class="brand_name">Bystřická truhlárna</h1>
                            <figure class="brand_logo">
                                <img src="../../static/img/logo.png" alt="logo">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "website/includes/menu.html" %}
</header>
<div id="content">
    <div class="block-1 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if offers %}
                        {% for offer in offers %}
                            <div class="col-lg-12" style="border-bottom: 1px solid #eee; padding: 16px 0;">
                                <h3>
                                    {{ offer.name }}
                                </h3>
                                <p><b>{{ _('nabidky.platnost') }} {{ offer.von }} {{ _('nabidky.platnost_do') }} {{ offer.zu }}</b></p>
                                <br>
                                <p> {{ offer.text }}</p>
                                <br>
                                <div class="text-center">
                                    <a href="/contact" class="btn btn-1">{{ _('nabidky.odkaz_na_kontakt') }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include "website/includes/footer.html" %}
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/tm-scripts.js"></script>
</body>
</html>