<!DOCTYPE html>
<html lang="cs">

<head>
    <title>{{ _('provozni_rad.titulek') }}</title>

    {% include "website/includes/head.html" %}
    <link rel="stylesheet" href="../../static/css/forms.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="../../static/js/wow/wow.js"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
</head>

<body>
    <header id="header" class="middle_header">
        <div class="header-top parallax parallax-bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand">
                            <a href="/">
                                <h1 class="brand_name">Bystřická truhlárna</h1>
                                <figure class="brand_logo">
                                    <img src="../../static/img/logo.png" alt="logo">
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "website/includes/menu.html" %}
    </header>
    <div id="content">
        <div class="block-1 bg-1">
            <div class="container">
                <div class="row">
                    <div class="order-rules" class="col-lg-12">
                        <h3>{{ _('provozni_rad.titulek') }}</h3>
                        <ol>
                            <li>{{ _('provozni_rad.seznam_polozka_1') }}</li>
                            <li>{{ _('provozni_rad.seznam_polozka_2') }}</li>
                            <li>{{ _('provozni_rad.seznam_polozka_3') }}</li>
                            <li>{{ _('provozni_rad.seznam_polozka_4') }}</li>
                            <li>{{ _('provozni_rad.seznam_polozka_5') }}</li>
                            <li>{{ _('provozni_rad.seznam_polozka_6') }}</li>
                            <li>
                                <b>{{ _('provozni_rad.seznam_polozka_7') }}</b>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "website/includes/footer.html" %}
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/tm-scripts.js"></script>
</body>
</html>