<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ _('objednavkovy_formular.titulek') }}</title>

    {% include "website/includes/head.html" %}
    <link rel="stylesheet" href="../../static/css/forms.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="../../static/js/wow/wow.js"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
</head>
<body>
{% set active_page = "zakazformular" %}
<header id="header" class="middle_header">
    <div class="header-top parallax parallax-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand">
                        <a href="/">
                            <h1 class="brand_name">Bystřická truhlárna</h1>
                            <figure class="brand_logo">
                                <img src="../../static/img/logo.png" alt="logo">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "website/includes/menu.html" %}
</header>
<div id="content">
    {% include 'website/includes/flash.html' %}
    <div class="block-1 bg-1" style="background-repeat: repeat-y;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="/order" class="form" role="form" id="orderForm" method="POST" data-toggle="validator">
                        <h3 class="title title-1">{{ _('objednavkovy_formular.titulek') }}</h3>
                        <div class="form-group col-lg-12 ">
                            <input type="text" id="nameInput" name="recipient" placeholder="{{ _("objednavkovy_formular.prijemce") }}"
                                   class="form-control recipient" data-error="{{ _('objednavkovy_formular.povinne_pole') }}" required value="{{ data["Recipient"] if show == 1 else ""}}">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group col-lg-12 ">
                            <input type="text" id="firmInput" name="firm" placeholder="{{ _("objednavkovy_formular.firma") }}"
                                   class="form-control firm" value="{{ data["Firm"] if show == 1 else ""}}">
                        </div>
                        <div class="form-group col-lg-12 ">
                            <input type="text" name="address" placeholder="{{ _("objednavkovy_formular.adresa") }}"
                                   class="form-control address" data-error="{{ _('objednavkovy_formular.povinne_pole') }}" required value="{{ data["Address"] if show == 1 else ""}}">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group col-lg-12 ">
                            <input type="tel" name="phone" placeholder="{{ _("objednavkovy_formular.telefon") }}" class="form-control phone"
                                   data-error="{{ _('objednavkovy_formular.povinne_pole') }}" required value="{{ data["Phone"] if show == 1 else ""}}">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group col-lg-12 ">
                            <input type="text" name="order-name" placeholder="{{ _("objednavkovy_formular.nazev_zakazky") }}"
                                   class="form-control order-name" data-error="{{ _('objednavkovy_formular.povinne_pole') }}" required value="{{ data["OrderName"] if show == 1 else ""}}">
                            <div class="help-block with-errors"></div>
                        </div>


                        <!-- Order Items -->
                        <h5>Položky</h5>
                        <div id="order-items" class="form-group">
                            {% if "Items" in data %}
                                {% for item in data["Items"] %}
                                    <div class="item-row col-lg-12" style="display: block">
                                        <input type="text" name="material" class="col-lg-3 col-sm-12 form-control material"
                                               placeholder="{{ _("objednavkovy_formular.typ_materialu") }}" value="{{ item["Material"] if item["Material"] is not none }}">
                                        <input type="number" name="length" class="col-lg-2 col-sm-12 form-control length"
                                               placeholder="{{ _("objednavkovy_formular.delka_bez_olepeni") }}" value="{{ item["Length"] }}">
                                        <input type="number" name="absLength" class="col-lg-1 col-sm-12 form-control absLength"
                                               placeholder="{{ _("objednavkovy_formular.delka_abs") }}" value="{{ item["AbsoluteLength"] }}">
                                        <input type="number" name="width" class="col-lg-2 col-sm-12 form-control width"
                                               placeholder="{{ _("objednavkovy_formular.sirka_bez_olepeni") }}" value="{{ item["Width"] }}">
                                        <input type="number" name="absWidth" class="col-lg-1 col-sm-12 form-control absWidth"
                                               placeholder="{{ _("objednavkovy_formular.sirka_abs") }}" value="{{ item["AbsoluteWidth"] }}">
                                        <input type="number" name="count" class="col-lg-1 col-sm-12 form-control count"
                                               placeholder="{{ _("objednavkovy_formular.pocet") }}" value="{{ item["Count"] }}">
                                        <input type="text" name="type" class="col-lg-2 col-sm-12 form-control type"
                                               placeholder="{{ _("objednavkovy_formular.typ_hrany") }}" value="{{ item["Type"] if item["Type"] is not none  }}">
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="item-row col-lg-12" id="item-row-template" style="display: none">
                                <input type="text" name="material" class="col-lg-3 col-sm-12 form-control material"
                                       placeholder="{{ _("objednavkovy_formular.typ_materialu") }}">
                                <input type="number" name="length" class="col-lg-2 col-sm-12 form-control length"
                                       placeholder="{{ _("objednavkovy_formular.delka_bez_olepeni") }}">
                                <input type="number" name="absLength" class="col-lg-1 col-sm-12 form-control absLength"
                                       placeholder="{{ _("objednavkovy_formular.delka_abs") }}">
                                <input type="number" name="width" class="col-lg-2 col-sm-12 form-control width"
                                       placeholder="{{ _("objednavkovy_formular.sirka_bez_olepeni") }}">
                                <input type="number" name="absWidth" class="col-lg-1 col-sm-12 form-control absWidth"
                                       placeholder="{{ _("objednavkovy_formular.sirka_abs") }}">
                                <input type="number" name="count" class="col-lg-1 col-sm-12 form-control count"
                                       placeholder="{{ _("objednavkovy_formular.pocet") }}">
                                <input type="text" name="type" class="col-lg-2 col-sm-12 form-control type"
                                       placeholder="{{ _("objednavkovy_formular.typ_hrany") }}">
                            </div>
                        </div>

                        <div class="plus-sign-wrapper col-lg-12">
                            <a href="#" class="plus-sign">+</a>
                        </div>
                        <input type="hidden" name="form-data" id="formData"/>
                        <input class="col-md-4 col-md-offset-4 col-xs-12" type="submit" id="formSubmit"
                               value="{{ _("objednavkovy_formular.odeslat") }}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "website/includes/footer.html" %}
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/tm-scripts.js"></script>
<script src="../../static/js/orderform.js"></script>
</body>
</html>