<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ _('sluzby.titulek') }}</title>
    {% include "website/includes/head.html" %}
    <link rel="stylesheet" href="../../static/css/jquery.fancybox.css">
    <script src="../../static/js/jquery.fancybox.js"></script>
    <script src="../../static/js/jquery.fancybox-buttons.js"></script>
    <script src="../../static/js/jquery.fancybox-media.js"></script>
    <script>
        jQuery(document).ready(function () {
            $("a[data-fancybox-group=group1]").fancybox({});
        });
    </script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="../../static/js/wow/wow.js"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
</head>

<body>
{% set active_page = "services" %}
<header id="header" class="middle_header">
    <div class="header-top parallax parallax-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand">
                        <a href="/">
                            <h1 class="brand_name">Bystřická Truhlárna</h1>
                            <figure class="brand_logo">
                                <img src="../../static/img/logo.png" alt="logo">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "website/includes/menu.html" %}
</header>
<div id="content">
    <div class="block-7 img-bg-1 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title title-1 wow fadeInLeft" data-wow-delay="0.3s"> {{ _('sluzby.prodej_a_vyroba.titulek') }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.3s">
                    <div class="thumb-pad-2 indent-1">
                        <div class="thumbnail">
                            <img src="../../static/img/page4-img8.jpg" alt="photo">
                            <div class="caption">
                                <h6>{{ _('sluzby.prodej.titulek') }}</h6>
                                <p>{{ _('sluzby.prodej.text') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
                    <div class="thumb-pad-2 indent-1">
                        <div class="thumbnail">
                            <img src="../../static/img/page4-img7.jpg" alt="photo">
                            <div class="caption">
                                <h6>{{ _('sluzby.vyroba.titulek') }}</h6>
                                <p>{{ _('sluzby.vyroba.text') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.5s">
                    <div class="thumb-pad-2 indent-1">
                        <div class="thumbnail">
                            <img src="../../static/img/page4-img6.jpg" alt="photo">
                            <div class="caption">
                                <h6>{{ _('sluzby.nakup') }}</h6>
                                <ul>
                                    <li>
                                        {{ _('sluzby.list_1') }}
                                    </li>
                                    <li>
                                        {{ _('sluzby.list_2') }}
                                    </li>
                                    <li>
                                        {{ _('sluzby.list_3') }}
                                    </li>
                                    <li>
                                        {{ _('sluzby.list_4') }}
                                    </li>
                                    <li>
                                        {{ _('sluzby.list_5') }}
                                    </li>
                                    <li>
                                        {{ _('sluzby.list_6') }}
                                    </li>
                                    <li>
                                        {{ _('sluzby.list_7') }}
                                    </li>
                                    <li>
                                        {{ _('sluzby.list_8') }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
                    <div class="thumb-pad-2 indent-1">
                        <div class="thumbnail">
                            <img src="../../static/img/page4-img5.jpg" alt="photo">
                            <div class="caption">
                                <h6>{{ _('sluzby.nabidka.titulek') }}</h6>
                                <p>
                                    {{ _('sluzby.nabidka.text') }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-8 parallax parallax-bg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title title-1 wow fadeInLeft"
                        data-wow-delay="0.3s">{{ _('sluzby.formatovani_a_hranovani') }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                    <div class="thumb-pad-3 indent-1">
                        <div class="thumbnail">
                            <img src="../../static/img/page4-img4.jpg" alt="photo">
                            <div class="caption">
                                <p>
                                    {{ _('sluzby.formatovani.text') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.4s">
                    <div class="thumb-pad-3 indent-1">
                        <div class="thumbnail">
                            <img src="../../static/img/page4-img3.jpg" alt="photo">
                            <div class="caption">
                                <p> {{ _('sluzby.odkaz_na_objednavkovy_formular.text') }} </p>
                                <br>
                                <div class="text-center">
                                    <a href="/order" class="btn btn-1">{{ _('sluzby.tlacitko.objednavkovy_formular') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.5s">
                    <div class="thumb-pad-3 indent-1">
                        <div class="thumbnail">
                            <img src="../../static/img/page4-img2.jpg" alt="photo">
                            <div class="caption">
                                <p>{{ _('sluzby.olepovani.text') }}</p>
                                <h6>{{ _('sluzby.olepovani.list_titulek') }}</h6>
                                <ul>
                                    <li>{{ _('sluzby.olepovani.list_1') }}</li>
                                    <li>{{ _('sluzby.oleopvani.list_2') }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-1 bg-1 indent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title title-2 wow fadeIn" data-wow-delay="0.3s">{{ _('sluzby.cnc.titulek') }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="thumb-pad-2 indent-2 wow fadeIn" data-wow-delay="0.4s">
                        <div class="thumbnail">
                            <img src="../../static/img/page4-img1.jpg" alt="photo">
                            <div class="caption">
                                <br>
                                <p>{{ _('sluzby.cnc.text') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.5s">
                    <ul class="list list-4">
                        <br>
                        <li>
                            <p>{{ _('sluzby.cnc.list_1') }}</p>
                        </li>
                        <li>
                            <p>{{ _('sluzby.cnc.list_2') }}</p>
                        </li>
                        <li>
                            <p>{{ _('sluzby.cnc.list_3') }}</p>
                        </li>
                        <li>
                            <p>{{ _('sluzby.cnc.list_4') }}</p>
                        </li>
                        <li>
                            <p>{{ _('sluzby.cnc.list_5') }}</p>
                        </li>
                        <li>
                            <p>{{ _('sluzby.cnc.list_6') }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "website/includes/footer.html" %}
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/tm-scripts.js"></script>
</body>

</html>