<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ _('404.titulek') }}</title>
    {% include "website/includes/head.html" %}

</head>

<body>
<header id="header" class="middle_header">
    <div class="header-top parallax parallax-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand">
                        <a href="/">
                            <h1 class="brand_name">Bystřická truhlárna</h1>
                            <figure class="brand_logo">
                                <img src="../../static/img/logo.png" alt="logo">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "website/includes/menu.html" %}
</header>
<div id="content">
    <div class="block-9 img-bg-1 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6">
                    <div class="img_404">
                        <img src="../../static/img/page404-img1.png" alt="404">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h3 class="title title-2">{{ _('404.stranka_nebyla_nalezena') }}</h3>
                    <div class="box-7 box">
                        <p>{{ _('404.hledana_stranka_1') }}
                            <br> {{ _('404.hledana_stranka_2') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "website/includes/footer.html" %}
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/tm-scripts.js"></script>
</body>

</html>