{% extends "admin/base.html" %}

{% block title %}
    Error 500
{% endblock %}

{% block app_content %}
    <h1>Nastala neočekávaná chyba na straně serveru</h1>
    <p>Administrátor byl již upozorněn. Omlouváme se za potíže!</p>
    <p><a href="{{ url_for('admin.index') }}">Zpět</a></p>
{% endblock %}
