/****Form****/

#contact-form {
	margin-top: 30px;
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	margin-bottom: 35px;
}

input {
	font-weight: 300;
	width: 100%;
	float:left;
  	outline: none;
	background: transparent;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	color: #333333;
	font-size: 14px;
	border-radius: 0 !important;
	border: 1px solid #c8c8c8;
  	padding:8px 15px 9px 15px;
  	font-weight: 500!important;
	background: #fff;
}

textarea {
	position: relative;
	font-weight: 300;
	width: 100%;
	height: 273px;
	outline: none;
	background: transparent;
	position: relative;
	resize:none;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	color: #333333;
	font-size: 14px;
	border: 1px solid #c8c8c8;
	border-radius: 0 !important;
	padding:8px 20px 9px;
	font-weight: 500!important;
	background: #fff;
}

._placeholder {
	text-align: left;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color:#333333;
	font-size: 14px;
	border: 1px solid transparent;
    padding:8px 20px 9px;
	height: 40px !important;
	width: 100% !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	cursor: text !important;
	display: block;
	font-weight: 500!important;
}

._placeholder.hidden {
	display: none;
}

._placeholder.focused {
	opacity: 0.3;
}

label {
	position:relative;
	display: block;
	min-height: 60px;
	float: left;
	width: 370px;
	margin-bottom: 0px;
}

label+label {
	margin-left: 29px;
}


label.message {
	width: 100%!important;
	position: relative;
	margin-left: 0;
	clear: both;
}

.btns{
	padding-top: 20px;
	margin-left: 0;
	padding-left: 0;
	clear: both;
	overflow: hidden;
}

@media only screen and (max-width: 1199px) {
	label {
	float: none !important;	
	width: 100%;
	margin-left: 0 !important;
	}
}


@media only screen and (max-width: 995px) {
	input {
		margin-bottom: 10px;
	}

	.success-message {
		width: 100%;
	}

	.btns {
		padding-right: 0;
	}

	label.email {
		width: 100%;
		margin: 0;
	}

	.map figure {
		float: left !important;
		margin-right: 0px !important;
	}

	input, textarea, .success-message {
		border: 1px solid #d2d5db;
	}
}

@media only screen and (max-width: 767px) {
	.map figure {
		width: 100% !important;
		float: none !important;
		display: block !important;
		margin-right: 0px !important;
	}
		.btns {
			padding-bottom: 0;  
		}
		
		textarea {
			height: 300px !important; 
		}
	}
	@media only screen and (max-width: 479px) {

  textarea {
		height: 200px !important;  
  }
}

input[type="submit"]
{
	margin-bottom: 32px;
	font-weight: 700 !important;
  	font-size: 14px;
 	padding: 10px 17px;
	background: #333;
	color: white;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

input[type="submit"]:hover {
	background: #555;
}


#orderForm .item-row
{
	display: inline-flex;
	align-content: center;
	margin-bottom: 32px;
}

#orderForm .plus-sign-wrapper {
	text-align: right;
	margin-bottom: 32px;
}

#orderForm .plus-sign {
	padding: 0px 8px;
	font-weight: bold;
	font-size: 24px;
	background: #333;
	color: #fff !important;
	transition: all 0.3s ease;
}

#orderForm .plus-sign:hover {
	background: #555;
}

.material, 
.length, 
.absLength, 
.width, 
.absWidth,
.count 
{
	border-right: 0px !important;
}

@media only screen and (max-width: 1220px)
{
	.material, 
	.length, 
	.absLength, 
	.width, 
	.absWidth,
	.count 
	{
		border-right: 1px solid #333 !important;
	}
}

.form-group {
	margin-bottom: 32px;
}