{% extends 'admin/base.html' %}

{% block title %}
    Akční nabídky
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../../static/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block app_content %}
    <h1>Akční nabídky</h1>
    <div class="container">
        <div class="row">
            <form action="/admin/offers/add" id="offerAddForm" class="form" method="POST" role="form">
                <div class="form-group col-lg-12">
                    <input type="text" name="offer-name" id="offer-name" class="offer-name form-control"
                           placeholder="Název nabídky" required>
                </div>
                <div class="form-group col-lg-12">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="from-date form-control" placeholder="Datum od:" required/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="to-date form-control" placeholder="Datum do:" required/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <textarea name="offer-text" id="offer-text" class="offer-text form-control"
                              style="resize: none; overflow: auto; min-height: 200px;"
                              placeholder="Text nabídky"></textarea>
                </div>
                <input type="hidden" name="form-data" id="formData"/>
                <input class="col-md-4 col-md-offset-4 col-xs-12 btn btn-primary" type="submit" id="formSubmit"
                       value="Odeslat"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../../static/js/admin/offers.js"></script>
{% endblock %}