{% extends 'admin/base.html' %}

{% block title %}
    Recenze
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="../../static/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block app_content %}
    <h1>Přidat recenzi</h1>
    <div class="container">
        <div class="row">
            <form action="/admin/reviews/add" id="reviewAddForm" class="form" method="POST" role="form">
                <div class="form-group col-lg-12">
                    <input type="text" name="review-name" id="review-name" class="review-name form-control" placeholder="Jméno klienta">
                </div>
                <div class="form-group col-lg-12">
                    <input type="text" name="review-firm" id="review-firm" class="review-firm form-control" placeholder="Firma">
                </div>
                <div class="form-group col-lg-12">
                    <textarea name="review-text" id="review-text" class="review-text form-control" style="resize: none; overflow: auto; min-height: 200px;" placeholder="Text recenze" required></textarea>
                </div>
                <input type="hidden" name="form-data" id="formData" />
                <input class="col-md-4 col-md-offset-4 col-xs-12 btn btn-primary" type="submit" id="formSubmit" value="Odeslat"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../../static/js/admin/reviews.js"></script>
{% endblock %}
