{% extends 'bootstrap/base.html' %} {% block title %}
    {% if title %}{{ title }}{% else %} Administrační rozhraní {% endif %} {% endblock %} {% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('admin.index') }}">Administrační rozhraní</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('admin.index') }}">Domů</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.orders') }}">Objednávky</a>
                    </li>
                    <li class="dropdown">
                        <a id="dropdownMenuButton" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" href="#">Akční nabídky &#x25BC;</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a href="{{ url_for('admin.offers') }}">Zobrazit nabídky</a>
                            </li>
                            <li>
                                <a href="/admin/offers/add">Přidat nabídku</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="dropdownMenuButton" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" href="#">Recenze &#x25BC;</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a href="{{ url_for('admin.reviews') }}">Zobrazit recenze</a>
                            </li>
                            <li>
                                <a href="/admin/reviews/add">Přidat recenzi</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.localization') }}">Lokalizace</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.password_change') }}">Změna hesla</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li>
                            <a href="{{ url_for('admin.login') }}">Login</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('admin.logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %} {% block content %}
    <div class="container text-center" style="display: flex; flex-direction: column; align-items:center;">
        {# application content needs to be provided in the app_content block #} {% block app_content %}{% endblock %}
    </div>
{% endblock %} {% block scripts %} {{ super() }}
    <script src="../../../static/js/moment.min.js"></script>
    <script src="../../../static/js/bootstrap-datepicker.min.js"></script> {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}