{% extends 'admin/base.html' %}
{% block title %} Úprava věty {% endblock %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div style="width: 100%; display: flex; flex-direction: row; align-items: center;">
                <div class="col-lg-6 col-sm-12 text-left">
                    <h3>{{ sentence.key }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form id="editForm" action="" method="POST" role="form" class="form">
                <div class="form-group col-lg-12">
                    <input type="hidden" readonly id="sentenceID" value="{{ sentence.id }}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="czech">Česky</label>
                    <textarea class="form-control" name="czech" id="czech" style="overflow: auto; resize: none;">{% if sentence.czech != None %}{{ sentence.czech }}{% endif %}</textarea>
                </div>
                <div class="form-group col-lg-12">
                    <label for="english">Anglicky</label>
                    <textarea class="form-control" name="english" id="english" style="overflow: auto; resize: none;">{% if sentence.english != None %}{{ sentence.english }}{% endif %}</textarea>
                </div>
                <div class="form-group col-lg-12">
                    <label for="german">Německy</label>
                    <textarea class="form-control" name="german" id="german"style="overflow: auto; resize: none;">{% if sentence.german != None %}{{ sentence.german }}{% endif %}</textarea>
                </div>
                <input class="col-md-4 col-md-offset-4 col-xs-12 btn btn-primary" type="submit" id="formSubmit"
                       value="Upravit"/>
            </form>
        </div>
        {% if page %}
            <div class="col-lg-12 text-center">
                <ul class="pagination">
                    {{ data }}
                    <li><a href="{{ page["previous"] }}" {% if page["current"] == 1 %}
                           style="pointer-events: none" {% endif %}>Předchozí</a></li>
                    <li><a href="{{ page["next"] }}" {% if page["current"] == page["next"] %}
                           style="pointer-events: none" {% endif %}>Následující</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../../../static/js/admin/tinymce.min.js"></script>
<script src="../../../static/js/admin/edit-localization.js"></script>
{% endblock %}