{% extends "admin/base.html" %}

{% block title %}
    Administrační rozhraní
{% endblock %}

{% block app_content %}
    <h1>Hlavní strana</h1>
    <p>Toto je hlavní strana a nejspíše tu bude smysluplný obsah. Tento text bude poté odstraněn!</p>
{% endblock %}