{% extends 'admin/base.html' %} {% block title %} Lokalizace {% endblock %} {% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12 col-sm-12 text-left">
                <h1>Lokalizace</h1>
            </div>
            <div class="col-lg-12" style="padding: 16px 0px 32px 0px">
                <div class="col-lg-4 col-sm-12 text-left">
                    <form method="GET" class="input-group">
                        <input class="form-control" type="text" name="search" id="search" placeholder="Vyhledat">
                        <span class="input-group-addon">
                            <input style="outline: none; border: none; background: none;" type="submit" value="Hledat">
                        </span>
                    </form>
                </div>
                <div class="col-lg-8 col-sm-12 text-right">
                    <a class="btn btn-primary" href="/admin/localization/reload">Aktualizovat</a>
                    <a class="btn btn-primary" href="/admin/localization/load">Načíst jazyky</a>
                    <a class="btn btn-danger localization-clear-btn" href="#">Vymazat</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="localizationGroupe">
            <div class="panel-group" id="localizationGroupe">
                {% for language in languages %}
                <div class="panel panel-default">
                    <div class="panel-heading" style="background: none">
                        <div class="col-lg-12 text-right">
                            <a href="/admin/localization/edit/{{ language.id }}" class="btn btn-primary">Upravit</a>
                        </div>
                    </div>
                    {{ language.key }}
                    <div class="panel-body text-center">
                        <div class="col-lg-4 col-sm-12">
                            <p>
                                <b>Česky</b>
                            </p>

                            <p>{% if language.czech %} {{ language.czech[:100] }}{% else %}{{ "None" }}{% endif %}</p>
                        </div>
                        <div class="col-lg-4 col-sm-12">

                            <p>
                                <b>Anglicky</b>
                            </p>

                            <p>{% if language.english %} {{ language.english[:100] }}{% else %}{{ "None" }}{% endif %}</p>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <p>
                                <b>Německy</b>
                            </p>
                            <p>{% if language.german %} {{ language.german[:100] }}{% else %}{{ "None" }}{% endif %}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if page %}
                <ul class="pagination">
                    {{ data }}
                    <li {% if not page["previous_exists"] %} style="pointer-events: none"
                                                                class="disabled"  {% endif %}><a
                            href="{{ page["previous"] }}">Předchozí</a></li>
                    {% if page["current"] != 1 or page["current"] != 1 %}
                        <li><a href="{{ page["previous"] }}">{{ page["previous"] }}</a></li> {% endif %}
                    <li class="active"><a href="{{ page["current"] }}">{{ page["current"] }}</a></li>
                    {% if page["current"] != page["last"] %}
                        {% if page["current"] == 1 %}
                            <li><a href="localization/2">{{ page["next"] }}</a></li>
                        {% else %}
                            <li><a href="{{ page["next"] }}">{{ page["next"] }}</a></li>
                        {% endif %}
                        <li><span>...</span></li>
                    {% endif %}
                    {% if page["current"] != page["last"] %}
                        <li><a href="/admin/localization/{{ page["last"] }}">{{ page["last"] }}</a></li>
                    {% endif %}
                    {% if page["current"] == 1 %}
                        <li {% if not page["next_exists"] %} style="pointer-events: none"
                                                                class="disabled" {% endif %}><a
                                href="localization/2">Následující</a></li>
                    {% else %}
                        <li {% if not page["next_exists"] %} style="pointer-events: none"
                                                                class="disabled" {% endif %}><a
                                href="{{ page["next"] }}">Následující</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
    {% endblock %} {% block scripts %} {{ super() }}
    <script src="../../static/js/admin/localization.js"></script> {% endblock %}