{% extends 'admin/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Přihlášení
{% endblock %}

{% block navbar %}
{% endblock %}

{% block app_content %}
    <h1>Přihlášení</h1>
    <div class="row" style="min-width: 33.3%">
        <div class="col-md-4" style="min-width: 100%">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
