{% extends 'admin/base.html' %}

{% block title %}
    Akční nabídky
{% endblock %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div style="width: 100%; display: flex; flex-direction: row; align-items: center;">
                <div class="col-lg-12 text-left">
                    <h1>Akční nabídky</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="offers" class="container">
        <div class="row">
            {% if offers %}
                {% for offer in offers %}
                    <div class="panel panel-default" {% if offer.archived %} style="border-left: 5px solid #ec971f"
                         class="archived" {% endif %}>
                        <div class="panel-heading"
                             style="padding: 16px; display: flex; flex-direction: row; align-items: center; {% if offer.archived %} background-color: #ddd; {% endif %}">
                            <div class="col-lg-8 col-sm-12 text-left">
                                <h4>{{ offer.name }}</h4>
                            </div>
                            <div class="col-lg-4 col-sm-12 text-right">
                                <a class="offer-archive-btn btn btn-danger" data-archive="{{ offer.id }}" href="#">Smazat</a>
                            </div>
                        </div>
                        <div class="panel-body text-left">
                            <p><b>Od: {{ offer.von }} <span style="padding-left: 5em">Do: {{ offer.zu }}</span></b></p>
                            <hr>
                            <p>{{ offer.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if page %}
                <div class="col-lg-12">
                    <ul class="pagination">
                        {{ data }}
                        <li {% if not page["previous_exists"] %} style="pointer-events: none"
                                                                 class="disabled"  {% endif %}><a
                                href="{{ page["previous"] }}">Předchozí</a></li>
                        {% if page["current"] != 1 or page["current"] != 1 %}
                            <li><a href="{{ page["previous"] }}">{{ page["previous"] }}</a></li> {% endif %}
                        <li class="active"><a href="{{ page["current"] }}">{{ page["current"] }}</a></li>
                        {% if page["current"] != page["last"] %}
                            {% if page["current"] == 1 %}
                                <li><a href="offers/2">{{ page["next"] }}</a></li>
                            {% else %}
                                <li><a href="{{ page["next"] }}">{{ page["next"] }}</a></li>
                            {% endif %}
                            <li><span>...</span></li>
                        {% endif %}
                        {% if page["current"] != page["last"] %}
                            <li><a href="{{ page["last"] }}">{{ page["last"] }}</a></li> {% endif %}
                        {% if page["current"] == 1 %}
                            <li {% if not page["next_exists"] %} style="pointer-events: none"
                                                                 class="disabled" {% endif %}><a href="offers/2">Následující</a>
                            </li>
                        {% else %}
                            <li {% if not page["next_exists"] %} style="pointer-events: none"
                                                                 class="disabled" {% endif %}><a
                                    href="{{ page["next"] }}">Následující</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../../static/js/admin/offers.js"></script>
{% endblock %}