{% extends 'admin/base.html' %}

{% block title %}
    Objednávky
{% endblock %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div style="width: 100%; display: flex; flex-direction: row; align-items: center;">
                <div class="col-lg-6 col-sm-12 text-left">
                    <h1>Objednávky</h1>
                </div>
                <div class="col-lg-6 col-sm-12 text-right">
                    {% if not archived %}
                        <a class="show-archived-btn btn btn-primary" href="/admin/orders/archive">Ukázat archivované</a>
                    {% else %}
                        <a class="show-archived-btn btn btn-primary" href="/admin/orders/archive">Skrýt archivované</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="panel-group" id="ordersGroupe">
                {% if orders %}
                    {% for order in orders %}
                        <div class="panel panel-default" {% if order.archived %} style="border-left: 5px solid #ec971f"
                             class="archived" {% endif %}>
                            <div class="panel-heading"
                                 style="padding: 16px; display: flex; flex-direction: row; align-items: center; {% if order.archived %} background-color: #ddd; {% endif %}">
                                <div class="col-lg-8 col-sm-12 text-left">
                                    <p style="margin: 0;"><b>{{ order.name }}</b> - {{ order.recipient }},
                                        {% if order.firm %}{{ order.firm }}
                                            , {% endif %}{{ order.address }}, {{ order.phone }}</p>
                                </div>
                                <div class="col-lg-4 col-sm-12 text-right">
                                    <a class="order-open-btn btn btn-default" data-toggle="collapse"
                                       href="#collapse{{ order.id }}">Otevřít</a>
                                    {% if not order.archived %}
                                        <a class="order-archive-btn btn btn-success" data-archive="{{ order.id }}"
                                           href="#">Archivovat</a>
                                    {% else %}<a class="order-archive-btn btn btn-warning" data-archive="{{ order.id }}"
                                                 href="#">Zrušit archivaci</a> {% endif %}
                                    <a class="order-delete-btn btn btn-danger" data-archive="{{ order.id }}" href="#">Smazat</a>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="collapse{{ order.id }}">
                                <table class="table table-striped table-reponsive">
                                    <thead>
                                    <tr>
                                        <th>Typ materiálu</th>
                                        <th>Délka bez olepení</th>
                                        <th>ABS</th>
                                        <th>Šířka bez olepení</th>
                                        <th>ABS</th>
                                        <th>Počet</th>
                                        <th>Typ hrany</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in order.items %}
                                        <tr>
                                            <td>{{ item.material }}</td>
                                            <td>{{ item.length }}</td>
                                            <td>{{ item.absolute_length }}</td>
                                            <td>{{ item.width }}</td>
                                            <td>{{ item.absolute_width }}</td>
                                            <td>{{ item.count }}</td>
                                            <td>{{ item.item_type }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% if page %}
                <div class="col-lg-12">
                    <ul class="pagination">
                        {{ data }}
                        <li {% if not page["previous_exists"] %} style="pointer-events: none"
                                                                 class="disabled"  {% endif %}><a
                                href="{{ page["previous"] }}">Předchozí</a></li>
                        {% if page["current"] != 1 or page["current"] != 1 %}
                            <li><a href="{{ page["previous"] }}">{{ page["previous"] }}</a></li> {% endif %}
                        <li class="active"><a href="{{ page["current"] }}">{{ page["current"] }}</a></li>
                        {% if page["current"] != page["last"] %}
                            {% if page["current"] == 1 %}
                                <li><a href="orders/2">{{ page["next"] }}</a></li>
                            {% else %}
                                <li><a href="{{ page["next"] }}">{{ page["next"] }}</a></li>
                            {% endif %}
                            <li><span>...</span></li>
                        {% endif %}
                        {% if page["current"] != page["last"] %}
                            <li><a href="{{ page["last"] }}">{{ page["last"] }}</a></li> {% endif %}
                        {% if page["current"] == 1 %}
                            <li {% if not page["next_exists"] %} style="pointer-events: none"
                                                                 class="disabled" {% endif %}><a href="orders/2">Následující</a>
                            </li>
                        {% else %}
                            <li {% if not page["next_exists"] %} style="pointer-events: none"
                                                                 class="disabled" {% endif %}><a
                                    href="{{ page["next"] }}">Následující</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../../static/js/admin/orders.js"></script>
{% endblock %}
