{% extends 'admin/base.html' %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div style="width: 100%; display: flex; flex-direction: row; align-items: center;">
                <div class="col-lg-6 col-sm-12 text-left">
                    <h1>Změna hesla</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form id="passwordChangeForm" action="/admin/password-change" method="post" role="form"
                  id="changePasswordForm">
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" value="{{ user.username }}" disabled>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="password" class="form-control" id="oldPasssword" placeholder="Staré heslo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="password" class="form-control" id="newPassword" placeholder="Nové heslo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="password" class="form-control" id="newPasswordRepeat"
                               placeholder="Nové heslo znovu">
                        <span id='message'></span>
                    </div>
                </div>
                <input type="hidden" name="form-data" id="formData"/>
                <input class="col-md-4 col-md-offset-4 col-xs-12 btn btn-primary" type="submit" id="formSubmit"
                       value="Změnit heslo"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../../static/js/admin/password-change.js"></script>
{% endblock %}